<% if @todo.errors.any? %>
  <div class="errors">
    <h4>The task could not be saved due to these errors:</h4>
    <ol>
    <% @todo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ol>
  </div>
<% end %>

<%= form_for @todo do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <%= f.submit (@todo.new_record? ? 'Add Task' : 'Update Task') %>
<% end %>
