<h1 class="text-center">Tasks</h1>

<% @todos.each do |task| %>
  <article>
    <h3 class="text-center">
      <%= link_to "#{task.name}", task %>
    </h3>

    <p><%= truncate(task.description, length: 150) %></p>

    <div class="actions">
      <%= link_to 'Edit', edit_todo_path(task), class: 'btn' %>
      <%= link_to 'Delete', task, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </article>
<% end %>

<p><%= link_to 'New Task', new_todo_path, class: 'btn' %></p>
