<h1>Tasks</h1>

<% @todos.each do |task| %>
  <article>
    <h5>
      <%= link_to "#{task.name} (#{task.id})", task %> |
      <%= link_to 'Edit', edit_todo_path(task) %> |
      <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </h5>
    <p><%= task.description %></p>
  </article>
<% end %>

<p>
  <%= link_to 'New Task', new_todo_path %>
</p>
