<header>
  <ul>
    <li class="brand"><%= link_to 'Agenda', root_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Tasks', todos_path %></li>

    <li class="pull-right"><%= link_to 'Sign up', signup_path %></li>
    <li class="pull-right"><%= link_to 'Log in', login_path %></li>
  </ul>
</header>
