<header>
  <ul>
    <li class="brand"><%= link_to 'Agenda', root_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Tasks', todos_path %></li>

    <% if logged_in? %>
      <li><%= link_to 'New Task', new_todo_path %></li>
      
      <li class="pull-right"><%= link_to 'Log out', logout_path, method: :delete %></li>
      <li class="pull-right"><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
    <% else %>
      <li class="pull-right"><%= link_to 'Sign up', signup_path %></li>
      <li class="pull-right"><%= link_to 'Log in', login_path %></li>
    <% end %>
  </ul>
</header>
